<div class="commits">
{{#timetree this "authorDate"}}
  <div id="{{ this.hash }}">
    <div class="meta">
      <h2>{{#if this.conventional}}
        <span class="type">{{this.conventional.type}}</span>
        <span class="scope">({{this.conventional.scope}}):</span>
        {{ this.conventional.subject }}
        {{else}}{{ this.subject }}{{/if}}
      </h2>

      <span class="author-name">{{ this.authorName }}</span>

      <a class="gh-commit"
         target="_blank"
         href="https://github.com/zeropaper/DATA/commit/{{ this.hash }}">on GitHub</a>
    </div>

    {{#if this.commitNotes }}<h4>Notes</h4>
    <div class="commit-notes">
      {{ this.commitNotes }}
    </div>{{/if}}

    {{#if this.body }}<h4>Information</h4>
    <div class="body">
      {{ this.body }}
    </div>{{/if}}

    {{#if this.stat }}<h4>Changes</h4>
    <ul class="stat files max-lengthed-list">
      {{#each this.stat}}
      <li>{{ @key }}</li>
      {{/each}}
    </ul>{{/if}}

  </div>
{{/timetree}}
</div>
